<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.min.js"></script>
</head>

<body>
<div id="app" class="container">
    <h1 class="text-center">Hilo</h1>

    <div class="row">
        <div class="col-md-12">
            <form>
                <div class="form-group">
                    <label for="hash">Hash</label>
                    <input id="hash" type="text" class="form-control" v-model="hash"></input>
                </div>
                <div class="form-group">
                    <label for="numOfGames">Number Play </label>
                    <input id="numOfGames" type="number" value="5000" class="form-control" v-model="numOfGames"></input>
                </div>
                <button type="button" class="btn btn-primary btn-block" @click="extractHistory()">Processar</button>
            </form>
        </div>
        <div class="col-md-12">
            <br>
            <table class="table" v-if="result">
                <tbody>
                <tr style="background-color: rgba(0,0,0,.075)">
                    <th scope="row" width="30%">
                        Lần lượt xuất hiện [Joker] :
                    </th>
                    <td style="text-align: left;" width="70%">
                        <span v-for="(turn, index) in result.jokers" :style="getStyle(turn)"
                              style="font-weight: bold;">
                            {{index < result.jokers.length -1 ? turn + ',' : turn}}
                        </span>
                    </td>
                </tr>
                <tr style="background-color: rgba(0,0,0,.075)">
                    <th scope="row" width="30%">
                        Lần lượt xuất hiện A:
                    </th>
                    <td style="text-align: left;" width="70%">
                        <span v-for="(turn, index) in result.as" :style="getStyle(turn)" style="font-weight: bold;">
                            {{index < result.as.length -1 ? turn + ',' : turn}}
                        </span>
                    </td>
                </tr>
                <tr style="background-color: rgba(0,0,0,.075)">
                    <th scope="row" width="30%">
                        Chuoi turn of [Joker] :
                    </th>
                    <td style="text-align: left;" width="70%">
                        <span :style="getStyle(result.greatJoker)" style="font-weight: bold;">
                            {{result.greatJoker}}
                        </span>
                    </td>
                </tr>
                <tr style="background-color: rgba(0,0,0,.075)">
                    <th scope="row" width="30%">
                       Chuoi shift of [A] :
                    </th>
                    <td style="text-align: left;" width="70%">
                        <span :style="getStyle(result.greatA)" style="font-weight: bold;">
                            {{result.greatA}}
                        </span>
                    </td>
                </tr>
                <tr style="background-color: rgba(0,0,0,.075)">
                    <th scope="row" width="30%">
                        Total of [Joker] :
                    </th>
                    <td style="text-align: left;" width="70%">
                        <span style="font-weight: bold;">
                            {{result.countJoker}}
                        </span>
                    </td>
                </tr>
                <tr style="background-color: rgba(0,0,0,.075)">
                    <th scope="row" width="30%">
                        Total of [A]:
                    </th>
                    <td style="text-align: left;" width="70%">
                        <span style="font-weight: bold;">
                            {{result.countA}}
                        </span>
                    </td>
                </tr>
                <tr style="background-color: rgba(0,0,0,.075)">
                    <th scope="row" width="30%">
                        Total  [2-9]:
                    </th>
                    <td style="text-align: left;" width="70%">
                        <span style="font-weight: bold;">
                            {{result.countNumbers}}
                        </span>
                    </td>
                </tr>
                <tr style="background-color: rgba(0,0,0,.075)">
                    <th scope="row" width="30%">
                        Total  [J, Q, K, A]:
                    </th>
                    <td style="text-align: left;" width="70%">
                        <span style="font-weight: bold;">
                            {{result.countLettres}}
                        </span>
                    </td>
                </tr>
                <tr style="background-color: rgba(0,0,0,.075)">
                    <th scope="row" width="30%">
                        Total red(s):
                    </th>
                    <td style="text-align: left;" width="70%">
                        <span style="font-weight: bold;">
                            {{result.countRed}}
                        </span>
                    </td>
                </tr>
                <tr style="background-color: rgba(0,0,0,.075)">
                    <th scope="row" width="30%">
                        Total black(s):
                    </th>
                    <td style="text-align: left;" width="70%">
                        <span style="font-weight: bold;">
                            {{result.countBlack}}
                        </span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript">
    let vm = new Vue({
        el: '#app',
        data: {
            hash: null,
            numOfGames: 1000,
            result: null
        },
        computed: {
            allResults() {
                const joker = {color: 'joker', number: 'Joker'}
                const allResults = [joker]
                for (const number of [2, 3, 4, 5, 6, 7, 8, 9, 'J', 'Q', 'K', 'A']) {
                    for (const color of ['red', 'black']) {
                        allResults.push({color, number})
                    }
                }
                return allResults
            },
            salt() {
                return '0000000000000000009109f39ff2db0fc029f1c343f00c8dfe8e55556ee3def4'
            }
        },
        methods: {
            getStyle(size) {
                if (size <= 15) {
                    return {'color': '#34b443 !important'}
                } else if (size > 15 && size < 100) {
                    return {'color': '#e76535 !important'}
                } else if (size >= 100) {
                    return {'color': '#b51f09 !important'}
                }
            },
            extractHistory() {
                const games = this.getGames(this.hash, parseInt(this.numOfGames))
                this.result = this.generateResults(games)
            },
            generateResults(games) {
                const result = {
                    countJoker: 0,
                    countA: 0,
                    countRed: 0,
                    countBlack: 0,
                    countNumbers: 0,
                    countLettres: 0,
                    greatJoker: 0,
                    greatA: 0,
                    jokers: [],
                    as: []
                }

                let lastJoker = 0
                let lastA = 0
                games.forEach(function (value) {
                    let number = value.result.number
                    let color = value.result.color

                    if (color === 'joker') {
                        if (result.greatJoker < lastJoker) {
                            result.greatJoker = lastJoker
                        }
                        result.jokers.push(lastJoker)
                        lastJoker = 0
                        result.countJoker++
                    } else {
                        if ('red' === color) {
                            result.countRed++
                        } else if ('black' === color) {
                            result.countBlack++
                        }
                        lastJoker++
                    }

                    if ('A' === number) {
                        if (result.greatA < lastA) {
                            result.greatA = lastA
                        }
                        result.as.push(lastA)
                        lastA = 0
                        result.countA++
                    } else {
                        lastA++
                    }

                    if ('J' === number || 'Q' === number || 'K' === number || 'A' === number) {
                        result.countLettres++
                    }

                    if (2 === number || 3 === number || 4 === number || 5 === number || 6 === number || 7 === number || 8 === number || 9 === number) {
                        result.countNumbers++
                    }

                })
                return result
            },
            getGames(hash, numOfGames) {
                let lastHash = hash
                const results = []
                for (let i = 0; i < numOfGames; i++) {
                    results.push(this.getGameInformation(lastHash))
                    lastHash = this.getPreviousHash(lastHash)
                }
                return results
            },

            getPreviousHash(gameHash) {
                return CryptoJS.SHA256(gameHash).toString();
            },
            getGameInformation(hash) {
                return {
                    result: this.getResult(hash),
                    hash
                }
            },
            getResult(secretHash) {
                const inx = this.gameResultFromSeed(this.saltHash(secretHash, this.salt))
                return this.allResults[inx]
            },
            gameResultFromSeed(seed) {
                const num = parseInt(seed.substr(0, 52 / 4), 16)
                return num % this.allResults.length
            },
            saltHash(hash) {
                return CryptoJS.SHA256(JSON.stringify([hash, this.salt])).toString()
            }
        }
    })
</script>
</body>
</html>
